body {
    background-color: rgb(62, 145, 76);
    background-image: radial-gradient(rgb(91, 71, 114));

}
h1 {
    color: rgb(168, 138, 3);
    text-align: center;
}
div p {
    color: rgb(101, 58, 141);
}
p {
    color: beige;
}
div {
    background-color: rgb(90, 27, 74);
    margin: auto;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px blanchedalmond;
}