body {
    background-color: rgb(183, 241, 21);
    background-image: radial-gradient(green);

}
h1 {
    color: forestgreen;
    text-align: center;
}
div p {
    color: darkgreen;
}
p {
    color: beige;
}
div {
    background-color: bisque;
    margin: auto;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px blanchedalmond;
}